@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --font-title: 'Passion One', cursive;
    --font-padrao: 'Sriracha', cursive;

    --cor-black: black;
    --cor-white: white;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, cursive;
}

header {
    color: var(--cor-white);
    background-color: var(--cor-black);
    max-height: 310px;

    margin-bottom: 100px;

   
}

#texts {
    padding-top: 50px;
    padding-bottom: 30px;
}

header h1 {
    font-family: var(--font-title);
    font-variant: small-caps;
    font-size: 10vw;
    text-align: center;
}

header h1::first-letter {
    text-transform: uppercase;
}

header p {
    text-align: center;
}

header a {
    color: var(--cor-white);
    font-weight: 800;   
    text-decoration: none;      
}

main p {
    font-family: var(--font-padrao);    
    font-weight: 500;   
}

pre {
    font-family: var(--font-padrao);
    white-space: pre-line;

    font-size: 3.5vw;
    line-height: 7vw;
}

.p-normal {
    margin-bottom: 90px;
    margin-left: 30px;
}


#img-1 {
    position: relative;
    background: pink url(imagens/background001.jpg) right center  no-repeat fixed;

    height: 65vw;
    min-height: 460px;
    margin-bottom: 100px;
}


#img-2 {
    position: relative;
    background: pink url(imagens/background002.jpg) right center  no-repeat fixed;

    height: 65vw;
    min-height: 460px;
    margin-bottom: 100px;
}


.p-img {      
    color: var(--cor-white);
    background-color: #00000060;
    text-shadow: 1px 1px 2px black;
    padding: 10px;  
    margin-left: 20px;
    
    position: absolute;
    left: 0%;  
    top: 50%;
    transform: translate(0%, -50%); /* 1-left  2-top*/  
}


footer {
    background-color: #f6f6ff;
    height: 100px;
    margin-top: 150px;

    position: relative;
}

footer p {
    font-family: var(--font-padrao);
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}

footer a {
    font-family: var(--font-padrao);    
    color: #f0062d;
    font-weight: 600;
}