@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');



:root {
    --font-title: 'Passion One', cursive;
    --font-padrao: 'Sriracha', cursive;

    --cor-black: black;
    --cor-white: white;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    color: var(--cor-white);
    background-color: var(--cor-black);
    height: 224px;
    margin-bottom: 100px;

    position: relative;
}

#texts {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header h1 {
    font-family: var(--font-title);
}

main p {
    font-family: var(--font-padrao);
}