@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #2d2d2d;
    text-align: justify;
}

p {
    font-size: 1.1em;
}

h1 {
    color: #61001A;
    font-size: 3.4em;
    text-align: center;
}

h2 {
    color: #0A1D61;
    font-size: 2.5em;
}

ul {
    font-size: 1.1em;
}

.ft {
    display: block;
    margin: auto;
}

main {   
    margin: auto;
    width: 50em;
    padding: 25px;
}

a {
    color: #61001A;
}

footer {
    color: #ffffffef;
    width: 50em;
    height: 50px;
    background-image: linear-gradient(160deg, #61001A, #2e000d);
    padding: 50px;
    margin: auto;
}