@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: #f1f1f1;
    color: #000000f5;
    font-family: 'Nunito Sans', sans-serif;
}

#titulo1 {
    font-family: 'Unbounded', cursive;
    font-weight: 700;
    text-align: center;
    color: #002fff;
    background-color: #e0e40f;
    height: 100px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50px;
}

.subtitulohtml {
    color: #787a08;
}

.subtitulocss {
    color: #0220a7;
}

#titulo2html {
    color: #787a08;
    padding: 1.5px;
    width: 300px;
}

#titulo2css {
    color: #0220a7;
    padding: 1.5px;
    width: 300px;
}

.titulo2sombra {
    text-shadow: 0px 1.5px 2px rgba(0, 0, 0, 0.774);
}